# Transformation     # 2

## Two spreadsheets into one union-samples, union-phenotypes spreadsheet.
* Samples x Phenotypes input files must have the different phenotypes.

In [1]:
import os
import numpy as np
import pandas as pd
import knpackage.toolbox as kn

#### Get two dataframes, merge into one dataframe with all sample names and all unique phenotype names.
* Reject overlapping names in phenotype input as unresolved ambiguity.

#### Transformation of Two samples x phenotypes spreadsheets into One s x p spreadsheet

In [6]:
def merge_unique_phenotypes_for_all_samples(spreadsheet_1_df, spreadsheet_2_df):
    """ 
    Args:
        spreadsheet_1_df: samples x phenotypes dataframe
        spreadsheet_2_df: samples x phenotypes dataframe
    Returns:
        union_df:         samples x phenotypes dataframe with combined samples and phenotypes
    """
    spreadsheet_1_samples = kn.extract_spreadsheet_gene_names(spreadsheet_1_df)
    spreadsheet_2_samples = kn.extract_spreadsheet_gene_names(spreadsheet_2_df)
    
    all_samples_list = kn.find_unique_node_names(spreadsheet_1_samples, spreadsheet_2_samples)
    
    spreadsheet_1_phenotypes = list(spreadsheet_1_df.columns)
    spreadsheet_2_phenotypes = list(spreadsheet_2_df.columns)
    
    all_phenotypes_list = kn.find_unique_node_names(spreadsheet_1_phenotypes, spreadsheet_2_phenotypes)
    
    spreadsheet_X_df = pd.concat([spreadsheet_1_df, spreadsheet_2_df], axis=1)
        
    return spreadsheet_X_df

In [7]:
data_source_directory = './transform_data'

spreadsheet_1_df = kn.get_spreadsheet_df(os.path.join(data_source_directory, 'spreadsheet_Three.tsv'))
spreadsheet_2_df = kn.get_spreadsheet_df(os.path.join(data_source_directory, 'spreadsheet_Four.tsv'))
combo_df = merge_unique_phenotypes_for_all_samples(spreadsheet_1_df, spreadsheet_2_df)
combo_df

,grade,ethnicity,ICDO3site,living,grade_simple,days_to_death,histICDO3,gender,stage
TCGA-A5-A0G1,NaN,NaN,NaN,NaN,High Grade,3251.0,8441/3,female,stage ia
TCGA-A5-A0G2,NaN,NaN,NaN,NaN,High Grade,NaN,8441/3,female,stage iiib
TCGA-A5-A0G3,grade 3,NaN,c54.1,living,NaN,NaN,NaN,NaN,NaN
TCGA-A5-A0G5,grade 3,NaN,c54.1,living,High Grade,NaN,8310/3,female,stage ib
TCGA-A5-A0G9,grade 3,NaN,c54.1,living,NaN,NaN,NaN,NaN,NaN
TCGA-A5-A0GA,NaN,NaN,NaN,NaN,High Grade,543.0,8380/3,female,stage iiic2
TCGA-A5-A0GB,NaN,NaN,NaN,NaN,High Grade,NaN,8380/3,female,stage ib
TCGA-A5-A0GD,grade 2,NaN,c54.1,living,"Low grade (1,2)",NaN,8380/3,female,stage ia
TCGA-A5-A0GE,grade 2,not hispanic or latino,c54.1,living,NaN,NaN,NaN,NaN,NaN
TCGA-A5-A0GG,grade 1,not hispanic or latino,c54.1,living,NaN,NaN,NaN,NaN,NaN
TCGA-A5-A0GH,NaN,NaN,NaN,NaN,High Grade,NaN,8380/3,female,stage ia
TCGA-A5-A0GI,grade 2,not hispanic or latino,c54.1,living,NaN,NaN,NaN,NaN,NaN

In [8]:
spreadsheet_1_df

                grade               ethnicity ICDO3site  living
sample_id
TCGA-A5-A0G3  grade 3                     NaN     c54.1  living
TCGA-A5-A0G5  grade 3                     NaN     c54.1  living
TCGA-A5-A0G9  grade 3                     NaN     c54.1  living
TCGA-A5-A0GD  grade 2                     NaN     c54.1  living
TCGA-A5-A0GE  grade 2  not hispanic or latino     c54.1  living
TCGA-A5-A0GG  grade 1  not hispanic or latino     c54.1  living
TCGA-A5-A0GI  grade 2  not hispanic or latino     c54.1  living

In [9]:
spreadsheet_2_df

                 grade_simple  days_to_death histICDO3  gender        stage
sample_id
TCGA-A5-A0G1       High Grade         3251.0    8441/3  female     stage ia
TCGA-A5-A0G2       High Grade            NaN    8441/3  female   stage iiib
TCGA-A5-A0G5       High Grade            NaN    8310/3  female     stage ib
TCGA-A5-A0GA       High Grade          543.0    8380/3  female  stage iiic2
TCGA-A5-A0GB       High Grade            NaN    8380/3  female     stage ib
TCGA-A5-A0GD  Low grade (1,2)            NaN    8380/3  female     stage ia
TCGA-A5-A0GH       High Grade            NaN    8380/3  female     stage ia